[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
flask-restful = "*"
elasticsearch = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
webargs = "*"
flask-socketio = "*"
eventlet = "*"
py2neo = "*"
requests = "*"
pyyaml = ">=4.2b1"

[dev-packages]
coverage = "*"
python-coveralls = "*"
pylint = "*"
mamba = "*"
expects = "*"
doublex = "*"
doublex-expects = "*"
pep8 = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.7"
