[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
flask-restful = "*"
elasticsearch = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]
coverage = "*"
python-coveralls = "*"
pylint = "*"
mamba = "*"
expects = "*"
doublex = "*"
doublex-expects = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
