version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7
        environment:
          NEO4J_URL: bolt://localhost:7687
      - image: neo4j:3.4.5
        environment:
          NEO4J_AUTH: none
          NEO4J_dbms_memory_pagecache_size: 100M
    steps:
      - checkout
      - run: sudo pip install poetry && poetry install
      - run: poetry run coverage run --source=application -m mamba.cli specs
      - run: poetry run coveralls
      - run: poetry run python utils/download_wordkit.py
  lint:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: sudo pip install poetry && poetry install
      - run: poetry run pylint application/ specs/
  e2e:
    machine:
      docker_layer_caching: true
    environment:
      COMPOSE_FILE: .circleci/docker-compose.ci.yml
    steps:
      - checkout
      - run: docker-compose pull jona
      - run: docker-compose build elija
      - run: docker-compose up -d
      - run: docker-compose exec jona dockerize -wait http://elija:5000 -timeout 1m
      - run: docker-compose exec jona yarn cypress run
  build:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - setup_remote_docker
      - run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
      - run: docker build -t bp2018hg1/elija:$CIRCLE_WORKFLOW_ID -t bp2018hg1/elija:latest .
      - run: docker push bp2018hg1/elija:$CIRCLE_WORKFLOW_ID
      - run: docker push bp2018hg1/elija:latest
  deploy:
    docker:
      - image: dtzar/helm-kubectl:2.11.0
    steps:
      - run: kubectl set image deployment elija elija=bp2018hg1/elija:$CIRCLE_WORKFLOW_ID --server=$KUBERNETES_SERVER --token=$KUBERNETES_BEARER_TOKEN
workflows:
  version: 2
  pipeline:
    jobs:
      - test
      - lint
      - e2e
      - build:
          requires:
            - test
            - lint
            - e2e
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
